<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar Estudiante</title>
</head>
<body>
	<h1>Ingresar un nuevo estudiante</h1>
	<form method="post" th:action="@{/save}" th:object="${estudiante}">
		<label>Nombre:</label>
		<input th:field="*{nombre}" type="text"/>
		<span th:errors="*{nombre}" style="color: #E81505"></span><br>
		
		<label>Apellido:</label>
		<input th:field="*{apellido}" type="text"/>
		<span th:errors="*{apellido}" style="color: #E81505"></span><br>
		
		<label>Edad:</label>
		<input th:field="*{edad}" type="number"/>
		<span th:errors="*{edad}" style="color: #E81505"></span><br>
		
		<label>Activo:</label>
		<input th:field="*{estado}" th:value="${true}" type="radio"/>
		
		<label>Inactivo:</label>
		<input th:field="*{estado}" th:value="${false}" type="radio"/><br>
		
		<input type="submit" value="Guardar">
	</form>
</body>
</html>